.app_container{
    font-family: Arial, Helvetica, sans-serif;
}

.bloque{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
}

.polariod{
    border-width:0.2em;
    border-style: solid;
    border-color: #8791CC;
    width: 70em;
    height: 48em;
    margin: 3em;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 3em;
}

.fondo{
    background-image: url(imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton_click{
    background-image: url(imagenes/boton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    width: 20em;
    cursor: pointer;
}

.boton_click:hover{
    transform: scale(1.01);
}

.boton_click:active{
    transform: scale(0.98);
}

.titulo{
    color: #8791CC;
}

.contador{
    padding: 1em;
    color: #8791CC;
}

.fondo_contador{
    background-image: url(imagenes/bocadilloContador.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 27em;
    padding: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 6em;
}

.boton_guardar{
    margin-left: 13em;
    height: 9em;
    width: 9em;
    align-self: flex-end;
    background-image: url(imagenes/boton_guardar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.boton_guardar:hover{
    transform: scale(1.02);
}

.boton_guardar2{
    margin: 2em;
    padding: 1em;
    border-radius: 5em;
    height: 6em;
    width: 6em;
    align-self: center;
    background-image: url(imagenes/boton_guardar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.boton_guardar2:hover{
    transform: scale(1.02);
}

.tiempo{
    border-radius: 5em;
    align-self: flex-start;
    color: #8791CC;
}

.bloque_inferior{
    display: flex;
    flex-direction: row;
    width:60em;
}

.segundos{
    color: #8791CC;
}

.ranking{
    background-image: url(imagenes/boton_ranking.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 7em;
    width: 8em;
    cursor: pointer;
}

.ranking:hover{
    transform: scale(1.01);
}

.fondo_titulo{
    background-image: url(imagenes/bocadillo_titulp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 7em;
    width: 18em;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fondo_tiempo{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/bocadillo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-size: contain;
    padding: 2em;
    gap:0.2em;
    align-self: flex-start;
    margin-left: 3em;
}

.fondo_boton{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/bocadilloPeque.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-size: contain;
    gap:0.2em;
    margin-left: 13em;
    cursor: pointer;
    align-self: flex-end;
}

.fondo_boton2{
    display: flex;
    flex-direction: row;
    background-image: url(imagenes/bocadilloPeque.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-size: contain;
    gap:0.2em;
    cursor: pointer;
    align-self:center;
}

.fondo_boton:hover{
    transform: scale(1.01);
}

.ventana_guardar{
    top: 0;
    left: 0;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;

}

.ventana_guardar_interior{
    background-color: white;
    height: 35em;
    width: 35em;
}

body{
    margin: 0em;
}

.fondo_cruz{
    background-image: url(imagenes/bocadilloCerrar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3em;
    height: 3em;
    align-self: start;
    cursor: pointer;
}

.fondo_cruz:hover{
    transform: scale(1.01);
}

.fondo_{
    background-image: url(imagenes/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 31em;
    height: 8em;
    padding:1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo_2{
    width: 35em;
    display: flex;
    flex-direction: column;
    gap: 0.02em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1em;
}

.fondo_atributos{
    background-image: url(imagenes/bocadillo_titulp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 5em;
    width: 10em;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nombre_jugador{
    border-width: 0em;
    width: 10em;
    height: 2em;
    text-align: center;
}

.nombre_jugador:active{
    border-width: 0em;
}